nav.navik {
    padding: 3px;
    background-color: #343a40
}

span.bolt {

}

span {
    padding-right: 10px;
    font-size: 25px
}

input:focus:valid {
    box-shadow: 0 0 6px green;
}

input:focus:invalid {
    box-shadow: 0 0 6px red;
}
div.modal-body {
    text-align: center;
    display: inline-block

}